/**
 * @file
 * Navigation Styling
 */


/*
 * The active item in a Drupal menu
 */
#main-menu li a.active {


}

li a.active {
  color: #000;


}

/*
 * Navigation bar
 */

#navigation {
  /* overflow: hidden; /* Sometimes you want to prevent overlapping with main div. */
position: relative;
left: -272px;
max-height: 35px;
}

#navigation ul.links, /* Main menu and secondary menu links */
#navigation .content ul /* Menu block links */ {
  margin: 0;
  padding: 0;
  text-align: left; /* LTR */
}

#navigation a {
  position: relative;
  z-index: 2;
  left: -62px;
  color: transparent;
}

#navigation ul li ul {
width: auto;
}

#navigation a:hover {

  background: ;
  background-size: 100%;
  color: transparent ; /* turn off old navigation due to nice menus */



}

#navigation ul.links li, /* A simple method to get navigation links to appear in one line. */{


}
#navigation .content li {
  float: left; /* LTR */
  padding: 0 0px 0 0; /* LTR */
}

.region-navigation {
}

/*
 * Main menu and Secondary menu links
 */
#main-menu {

}

#secondary-menu {   /*Appears in top right on STARTER*/
  float: right;
  width: auto;
  border-top: 2px solid #929292;
  height: 20px;
  margin-top: 110px;
  padding: 0px 5px 0px 5px;
  margin: 0px 10px 0px 0px; /* with float, margin acts like left and top in position: absolute/relative/etc */
  font-size: 10px;
  background: #f0f0f0;
  -khtml-border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
   border-radius: 0 0px 5px 5px;

}

#secondary-menu a {
  text-decoration: none;
  color: #484848;
}

#secondary-menu a:hover {
  color: #929292;
}

#secondary-menu a.active {
  font-weight: bold;
}

#block-nice-menus-2 {
width: 400px;
}

#block-nice-menus-2 h2.block-title {
display: none;
}

#block-nice-menus-2 ul.nice-menu, #block-nice-menus-2 ul.nice-menu ul{
float: right;
width: auto;
border-top: 2px solid #929292;
height: 20px;
top: -34px;
padding: 0px 5px 0px 5px;
margin: 0px -700px 0px 0px;
font-size: 10px;
background-color: #F0F0F0 !important;
-khtml-border-radius: 0px 0px 5px 5px;
-moz-border-radius: 0 0 5px 5px;
-webkit-border-radius: 0 0 5px 5px;
border-radius: 0 0px 5px 5px;
}

#nice-menu-2 li {
position: relative;
left: 0px;
}

#block-nice-menus-2 ul.nice-menu a, #block-nice-menus-2 ul.nice-menu ul a{
text-decoration: none;
color: #484848 !important;
}

#block-nice-menus-2 ul.nice-menu a:hover, #block-nice-menus-2 ul.nice-menu ul a:hover {
color: #929292 !important;
}

#block-nice-menus-2 ul.nice-menu a.active, #block-nice-menus-2 ul.nice-menu ul a.active {
font-weight: bold !important;
}



/*
 * Menu blocks
 */
.block-menu {
}

/*
 * "Menu block" blocks. See http://drupal.org/project/menu_block
 */
.block-menu-block {
}
